@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
	
	<div class="center-all">
		<div class="jumbotron" style="background-color:gold; padding:40px 40px 10px 40px">
			<div class="jumbotron" style="background-color: aliceblue">
				<img src="~/images/logo.png" class="rounded" />
			</div>
		</div>
	</div>
</div>

<style>
	.center-all {
		padding: 50px 0;
		text-align: center;
	}
</style>
